#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.black-box {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}